In [ ]:
print('Hello World')

In [ ]:
import numpy as np

In [ ]:
data = {i : np.random.randn() for i in range(7)}

In [ ]:
data

In [ ]:
import matplotlib as mplt

In [ ]:
In [1]: an_apple = 27

In [2]: an_example = 42

In [3]: an_apple

In [ ]:
an_apple??

In [ ]:
np??

In [ ]:
%run test.py

In [ ]:
c

In [ ]:
result

In [ ]:
def f(a, b):
    return a**3 + b/7

In [ ]:
f(3,4)

In [ ]:
c = [1, 2, 3]

In [ ]:
e = c

In [ ]:
e

In [ ]:
c

In [ ]:
listen = [1, 2, 3, 4]

In [ ]:
listen

In [ ]:
e.append(9)

In [ ]:
e

In [ ]:
type(e)

In [ ]:
isinstance(e,int)

In [ ]:
iter(e)

In [ ]:
None?

In [ ]:
567876**7

In [ ]:
a= '''
Hejse
df
'''

In [ ]:
a

In [ ]:
a = "Hej med dig"
a

In [ ]:
a = a.replace('Hej', 'Davs')

In [ ]:
a

In [ ]:
a.count('d')

In [ ]:
a[2:5]

In [ ]:
s='345\\23'

In [ ]:
print(s)

In [ ]:
s

In [ ]:
s = r'this\has\no'

In [ ]:
s

In [ ]:
bool?

In [ ]:
datetime.date()

In [ ]:
%U

In [ ]:
from datetime import datetime, date, time

In [ ]:
dt = datetime(2011, 10, 29, 20, 30, 21)

In [ ]:
dt.day

In [ ]:
dt.time()

In [ ]:
%lsmagic

In [17]:
a = [123, 1,2,2,3,4,4,3,2,2,3,4,5,56,356,3,6,44,65,4,534,5,436,34,53,46,7,45,3,3,2,23,3,3,3,3]

In [21]:
a.sort()

In [ ]:
a

In [ ]:
import bisect as bsct

In [ ]:
bsct.bisect(a, 3)

In [ ]:
bsct.insort(a, 54)

In [ ]:
a

In [ ]:
s = "kasperbirkelund"

In [ ]:
s[3:]

In [ ]:
s[-8::-2]

In [15]:
some_list = [12,32,54,64,3,4,5,4534,4]

In [25]:
for c, value in enumerate(a, 1):
    print(c, value)

1 1
2 2
3 2
4 2
5 2
6 2
7 3
8 3
9 3
10 3
11 3
12 3
13 3
14 3
15 3
16 3
17 4
18 4
19 4
20 4
21 5
22 5
23 6
24 7
25 23
26 34
27 44
28 45
29 46
30 53
31 56
32 65
33 123
34 356
35 436
36 534

In [28]:
sorted(some_list)

[3, 4, 4, 5, 12, 32, 54, 64, 4534]

In [27]:
some_list.sort()

In [29]:
newlist = zip(a, some_list)

In [30]:
newlist

In [31]:
a

[1,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 5,
 5,
 6,
 7,
 23,
 34,
 44,
 45,
 46,
 53,
 56,
 65,
 123,
 356,
 436,
 534]

In [32]:
some_list

[3, 4, 4, 5, 12, 32, 54, 64, 4534]

In [33]:
seq1 = [1,2,3,4]
seq2 = [4,3,2,1]

In [34]:
zipped = zip(seq1, seq2)

In [35]:
zipped

In [36]:
list(zipped)

[(1, 4), (2, 3), (3, 2), (4, 1)]

In [37]:
dict = {1:'aeble', 2:'paere', 3:'citron'}

In [39]:
dict[1]

'aeble'

In [40]:
'c' in dict

False

In [41]:
1 in dict

True

In [43]:
dict.update({1:'banan'})

In [44]:
dict

{1: 'banan', 2: 'paere', 3: 'citron'}